/sources-asp-net/WebApplication/WebApplication/bin
/sources-asp-net/WebApplication/WebApplication/obj
/sources-asp-net/WebApplication/bin
/sources-asp-net/WebApplication/obj
/sources-net-core-mvc/WebApplicationNetCore/bin
/sources-net-core-mvc/WebApplicationNetCore/obj
